body {
    background-image: url("https://i.pinimg.com/originals/cb/bb/48/cbbb48eae52bbd99c4fc425c02eca352.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}